@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*the import allows the font-weight of roboto to be 300 for correct style*/
/* to use the import, ou must have font-family:roboto and add a font-weight*/

body{
    margin: 0px;
}


/* Styles pour les sections */
section.premiereSection {
    padding: 20px;
    background: linear-gradient(to right, DarkSeaGreen, Lightyellow);
    margin-bottom: 20px;
    text-align: center;
}

section h1 {   font-family:roboto;
    font-weight: 600;
    font-size: 40px;
    margin-top: 0;
    color: gray;
    
}

p {
  
    margin-left: 30px;
    

}

p.premierParagraphe{
    font-family:roboto;
    font-weight: 600;
    color: gray;
    background: linear-gradient(to right, DarkSeaGreen, Lightyellow);
    margin-left: 20px;
    
}

#mainContainer{
    display:flex;
    justify-content: space-between;
    width:1200px;
    height:300px;
    margin-left:100px;
}

.innerBoxText
{
  
  width:800px;
  height: 400px 

    
}



.boxWithImage
{
    flex-direction: column; /* Pour empiler les éléments verticalement */
    text-align: center;
    border: 1px solid gray;
    width:250px;
    height:150px;
    margin-top:110px
   
}

img{

width:100px;
height:100px;
position:relative;
bottom:50px;

}

.imageConferenciers3{
position:relative;
bottom:50px;
}


h3{
    margin-left: 30px;
    font-family:roboto;
    font-weight: 600;
    color:darkseagreen
}

h5
{
    margin-left: 30px;
    font-family:roboto;
    font-weight: 600;
    color: gray;
    
}

h4{

    font-family: roboto;
    font-weight:600;
    color:gray;
}

h1
{
    margin-left: 20px;
}



a.lienTexteImage
{
    color:black;
   
    font-size: 20px;
    position:relative;
    bottom:50px;
}

.bigPara{
font-family: roboto;
font-size: small;
color: gray;
font-weight: 600;

}



